h1 {
	color: black;
    font-weight: bold;
    text-shadow:  0px 0px 5px greenyellow, 0px 3px 5px darkred;
}

h3{
    color: rgb(149, 179, 232);
}

.subtitle {
    color: darkblue;
    margin-top: 100px;
    font-family: Jazz LET;

}

.def{
    color: black;
    font-family: Segoe UI Symbol, Arial, Times New Roman;
    font-size: 20px;
    padding:  20px;
    
}
.pic{
    margin-top: 15px;
}


img{
    float: right;
    margin: 20px;
    margin-top: 5px;
}


body{
    background: linear-gradient(to right, skyblue, seagreen);
}


html, body {
	width: 100%;height: 100%;margin: 0;padding: 0;
}
    

#map {
	position:absolute;top:0;bottom:0;right:0;left:0;
}






#map_e247e02e479e456fb477616fc3af43ff {
        position: relative;
        width: 100.0%;
        height: 100.0%;
        left: 0.0%;
        top: 0.0%;
}
